@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}
body{
    background: white;
    display: grid;
    grid-template-rows: 1fr 10fr 0.5fr;
    padding: 2rem;
    margin: 0;
    height: 100vh;
}

.designer{
    text-align: center;
}
.designer__photo{
    background-image: url("images/adult-1868750_1280.jpg");
    border-radius: 35%;
    background-size: cover;
    background-position: right;
    height: 6rem;
    width: 6rem;
    margin: 0.5rem auto;
}
.designer__name{
    color:#4E5150;
    font-size: 0.8rem;
    margin: 0;
    font-weight: bold;
}
.designer__location{
    color: #A9A9A9;
    font-size: 0.6rem;
    margin: 0;
    padding: 0.3rem;

}
.designer__statistics{
    display: flex;
    width: max-content;
    margin: 0 auto;
}
.designer__statistics-box{
    background-color: #E5E5E5;
    border-radius: 1rem;
    color: #4E5150;
    min-width: 4rem;
    text-align: center;
    padding: 0.2rem;
    font-weight: bold;
    margin: 0 0.5rem;
}
.designer__statistics-label{
    font-size: 0.3rem;
    margin: 0;
}
.designer__statistics-number{
    font-size: 0.6rem;
    margin: 0 0 0.2rem 0;
}

.portfolio-images{
    display: grid;
    grid-template-areas:
    "img1 img2 img2"
    "img3 img3 img4"
    "img5 img6 img4";
    padding: 0.5rem;
    margin: 0 20%;

}
.portfolio-images > div {
    margin: 0.5rem;
    background-size: cover;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.4rem #888888;
}

.portfolio-image__1{
    grid-area: img1;
    background-image: url("images/bedroom-416062_1280.jpg");
}
.portfolio-image__2{
    grid-area: img2;
    background-image: url("images/brick-wall-1834784_1280.jpg");
    background-position: center;

}
.portfolio-image__3{
    grid-area: img3;
    background-image: url("images/chairs-2181947_1280.jpg");
    background-position: center;


}
.portfolio-image__4{
    grid-area: img4;
    background-image: url("images/chairs-2181960_1280.jpg");


}
.portfolio-image__5{
    grid-area: img5;
    background-image: url("images/furniture-998265_1280.jpg");
}
.portfolio-image__6{
    grid-area: img6;
    background-image: url("images/chairs-2181968_1280.jpg");
}

.footer{
    text-align: center;
    color: #A9A9A9;
    font-size: 0.7rem;
}

@media only screen and (max-width: 750px) {
    body{
        grid-template-rows: 3fr 7fr 0.5fr !important;
        padding: 0.5rem;
    }
    .portfolio-images{
        padding: 0.5rem 0.5rem;
        margin: 0 2% !important;
    }
    .designer__name{
        font-size: 1.5rem;
    }
    .designer__photo{
        height: 8rem;
        width: 8rem;
    }
}
